body{
background-color: rgb(73, 46, 193);
}

.titulo{

    text-align: center;
    color: aliceblue;
}

.descricao{

    text-align: center;
    color: aliceblue;
    justify-content: space-between;

}